html, body {
margin: 0
height: 100%
            }

line       {
stroke : brown;
stroke-width:3;
           }
g.grp3 circle,
g.grp3 path,
g.grp4 path{
stroke: organge
fill: none;
stroke-width:3
           }
